h1.head {
	font-weight: 800px;
	font-family: Times New Roman;
	font-style: bold;
	text-align: center;
}

img.photo1 {
	width: 50%; 

}

p {
	font-family: monospace;
}

figcaption.photo1 {
	text-align: right;
	float: right;
	font-style: italic;
}

img.photo2 {
	float: right;
	width: 20%; 

}

h1.name {
	text-align: center;
	font-weight: lighter;
}

h6.add {
	text-align: center;
	color: gray
}


li.bar {
	display: inline;
	float: left;
	text-align: center;
	position: relative;
	display: inline;
	margin: 10px;
}

ul.nav {
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;

}
